.Signup{
    background:
    url('./4.jpg') center center/cover no-repeat;
     height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
  }
 .Signup > h1 {
    color:white;
    font-size: 200px;
    margin-top: -90px;
    cursor: pointer;
  }
.input{
    color:white;
    background-color:black;
    font-size: 15px;
}
.pass{
    color: white;
    background-color: black;
    font-size: 15px;
}
.box{
    position:absolute;
    top: 70%;
    left: 35%;
    justify-content: center;
    text-align: center;
    border-radius: 2px solid black;

}